// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $white;
  @include transition-all;
  padding:1.5rem 1rem 1rem;
  .navbar-brand {
    color: $primary;
    background:url(../images/logo-reverse.png) no-repeat 0 0;
    background-size:100%;
    width:30px;
    height:41px;
    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
    span{
      display:block;
    }
  }
  .navbar-toggler{
    padding:0;
    border:none !important;
  }
  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        font-size: 1rem;
        color: $gray-900;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: transparent;
    .navbar-brand {
      background-image:url(../images/logo.png);
      width:70px;
      height:95px;
      color: fade-out($white, .3);
      &:focus,
      &:hover {
        color: $white;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
   .navbar-nav > li.nav-item > a.nav-link.nav-home.active,
    .navbar-nav > li.nav-item > a.nav-link.nav-home:focus.active {
      color: $white !important;
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $white;
      .navbar-brand {
        color: $primary;
        background-image:url(../images/logo-reverse.png);
        width:50px;
        height:67px;
        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: $gray-900;
        &:hover {
          color: $primary;
        }
      }

      .navbar-nav > li.nav-item > a.nav-link{
        &.nav-home.active, &.nav-home:focus.active{
          color: $primary !important;
        }
      }
      
    }
  }

  @media (min-width: 1280px) {
     .navbar-brand {
        width:124px;
        height:168px;
    }
  }
}
